@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EjsU8_SG_Ej3.Models.Entities.clsPersona
    
<div class="text-center">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <input type="text" name="id" value="@Model.Id" hidden>
        <br />
        <br />
        <label>Nombre:</label>
        @Html.TextBox("Nombre", Model.Nombre)
        @Html.ValidationMessageFor(persona => persona.Nombre)
        <br />
        <br />
        <label>Apellidos:</label>
        @Html.TextBoxFor(persona => persona.Apellidos)
        @Html.ValidationMessageFor(persona => persona.Apellidos)
        <br />
        <br />
        <label>Direccion:</label>
        @Html.TextBoxFor(persona => persona.Direccion)
        <br />
        <br />
        <label>Edad:</label>
        @Html.TextBoxFor(persona => persona.Edad)
        @Html.ValidationMessageFor(persona => persona.Edad)
        <br />
        <br />
        <button type="submit">Guardar</button>
    }
</div>
