@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EjsU8_SG_Ej3.Models.Entities.clsPersona

<div class="text-center">
    <h1>Persona Modificada</h1>
    <br />
    <label>Id: @Model.Id</label>
    <br />
    <br />
    <label>Nombre: @Model.Nombre</label>
    <br />
    <br />
    <label>ApellidoS: @Model.Apellidos</label>
    <br />
    <br />
    <label>Dirección: @Model.Direccion</label>
    <br />
    <br />
    <label>Edad: @Model.Edad</label>
</div>
